.Projects {
    padding-bottom: 1em;
}

.Projects-content {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(3, 1fr);
    margin: 1rem;
}

@media (max-width: 1060px) {
    .Projects-content {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width: 800px) {
    .Projects-content {
        grid-template-columns: repeat(1, 1fr);
    }
}