.Projects-content {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(3, 1fr);
    margin: 1rem;
}

@media (max-width: 768px) {
    .Projects-content {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width: 480px) {
    .Projects-content {
        grid-template-columns: repeat(1, 1fr);
    }
}