#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.langbutton {
  position: fixed;
  top: 0.5em;
  right: 0.5em;
  margin: 0;
  font-size: 3rem;
}

@media (max-width: 900px) {
  .langbutton {
    top: 3.5em;
    right: 0.5em;
  }
}

@media (max-width: 700px) {
  .langbutton {
    font-size: 1.8em;
    top: 0.5em;
    right: 0.5em;
  }
}
